<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.fields_for @listing.build_item do |g|%>
        <%= g.error_notification %>
        <%= g.error_notification message: g.object.errors[:base].to_sentence if g.object.errors[:base].present? %>
        <%= g.input :name, required: true  %>
        <%= g.input :description, required: true  %>
        <%= g.input :photo, required: true %>
        <%= g.input :photo_cache, as: :hidden %>
    <% end %>
  <div class="form-inputs">
    <%= f.association :stop, collection: Stop.where(user: current_user), value_method: :id, as: :check_boxes %>
  </div>
  <div class="form-actions ">
    <%= f.button :submit, 'Share Item', class: "btn btn-danger", id: "submit-item"%>
  </div>
<% end %>
