<% if false %>
<p>You are travelling to: <%= @stop.city %>, from <%= @stop.start_date %> to <%= @stop.end_date %></p>


<p>See below all the items available in <%= @stop.city %></p>




<% @listings.each do |listing| %>
  <% if listing.stop.city == @stop.city%>
     <%= Listing.intersection_dates(@stop.start_date, @stop.end_date, listing.stop.start_date, listing.stop.end_date) %>
     <%= listing.item.name %>
  <%end%>
<%end%>




<br><br><br><br>
<p>xxxxxxxxxxxxxxxxxxxx</p>
<% @listings.each do |listing| %>
    <p data-toggle="modal" data-target="#modal-item-id-<%= listing.item.id %>"><%= listing.item.name %></p>
    <%= render partial: 'shared/index_modal', locals: { item: listing.item } %>
<%end%>
<% end %>









<% @items_filtered.each do |items_info| %>
  <h2><%= items_info[:city] %></h2>
  <% items_info[:items].each do |item| %>
   <a data-toggle="modal" data-target="#modal-item-id-<%= item.id %>">
    <div class="item-list-card">
      <p><%= item.name %></p>
      <%= cl_image_tag item.photo, height: 300, width: 300, crop: :fill %>
    </div>
   </a>
   <%= render partial: 'shared/index_modal', locals: { item: item } %>
  <% end %>
<%end%>






































