<%#= render 'map_circle' %>

<div class="container">
  <div class="row">

    <div class="col-xs-3">
      <div class="tab">
        <% @items_filtered.each do |items_info| %>

          <button class="tablinks" name="<%= items_info[:city]%>"onclick="openCity(event)">
            <p><%= items_info[:city] %></p>
            <p>(<%= items_info[:start_date].strftime("%b %d, %Y") %>-<%= items_info[:end_date].strftime("%b %d, %Y") %>)</p></button>
          <% end %>
      </div>
    </div>

    <div class="col-xs-9">
      <% @items_filtered.each do |items_info| %>
        <div id="<%= items_info[:city] %>" class="tabcontent">
          <% if items_info[:items].length == 0 %>
           <h3>Sorry, there are no items available on your stop</h3>
          <% end %>
            <% items_info[:items].each do |item| %>
              <div class="col-xs-4">
                <div class="card" style="height: 18em;">
                  <a data-toggle="modal" data-target="#modal-item-id-<%= item.id %>">
                    <div class="card-body <%= items_info[:city] %>">
                      <div class="card-img-top" style="background-image: url('<%= cl_image_path item.photo%>')"></div>
                      <p class="card-text name"><%= item.name %></p> 
                      <p class="card-text details"><span><i class="fas fa-info-circle"></i></span></p>
                    </div>
                </a>
                <%= render partial: 'shared/index_modal', locals: { item: item } %>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>


<script>
 function openCity(event) {
    // Get all elements with class="tabcontent" and hide them
    const tabcontent = document.querySelectorAll(".tabcontent");

    tabcontent.forEach((tab) => {
      tab.style.display = "none";
    })

    // Get all elements with class="tablinks" and remove the class "active"
    const tablinks = document.querySelectorAll(".tablinks");

    tablinks.forEach((tablink) => {
      tablink.classList.remove("active");
    })

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(event.currentTarget.name).style.display = "block";
    event.currentTarget.classList.add("active");
}

</script>


<%= javascript_pack_tag 'itinerarytab' %>





























