<%#= render 'map_circle' %>

<div class="container-not-boostrap" style="height: 128vh; margin: 2% 5% 0 5%;">
  <div class="row">
  
    <div class="col-xs-4">
        <div class="my-itinerary">
          <div class="circle"></div>
          <h2>My Itinerary</h2>
        </div>
      <div class="tab stop-card-index">
        <div class="circle cicle-index"></div>
        <button class="tablinks" name="<%= @items_filtered.first[:city]%>" onclick="openCity(event)" id="defaultOpen">
          <p class="stop-city"><strong><%= (@items_filtered.first[:city]).capitalize%></strong></p>
          <p class="stop-dates">(<%= @items_filtered.first[:start_date].strftime("%b %d, %Y") %>~<%= @items_filtered.first[:end_date].strftime("%b %d, %Y") %>)</p>
          <div class="city-adv" style="background: url('<%= cl_image_path @items_filtered.first[:photo], height: 60, width: 60, crop: :scale%>')"></div>
       
        </button>
        
      <div class="tab stop-card-index">
      <% @items_filtered[1..-1].each do |items_info| %>
        <div class="circle cicle-index"></div> 
          <button class="tablinks" name="<%= items_info[:city] %>"onclick="openCity(event)">

            <div class="stop-city"><strong><%= (items_info[:city]).capitalize %></strong>
            <div class="stop-dates">(<%= items_info[:start_date].strftime("%b %d, %Y") %>~<%= items_info[:end_date].strftime("%b %d, %Y") %>)</div>
            <%= cl_image_tag items_info[:photo],height: 60, width: 60, crop: :scale, class: "city-adv"%>
          </button>
      <% end %>
      </div>
    </div>
    <div id="last-circle"></div>

  </div>

    <div class="col-xs-8">
      <% @items_filtered.each do |items_info| %>
        <div id="<%= items_info[:city] %>" class="tabcontent">
          <% if items_info[:items].length == 0 %>
           <h3>Sorry, there are no items available on your stop</h3>
          <% end %>
            <% items_info[:items].each do |item| %>
              <div class="col-xs-4" style="padding-bottom: 30px;">
                <div class="card" style="height: 24em;">
                  <a data-toggle="modal" data-target="#modal-item-id-<%= item.id %>">
                    <div class="card-body <%= items_info[:city] %>">
                      <div class="card-img-top" style="background-image: url('<%= cl_image_path item.photo%>')"></div>
                      <p class="card-text name"><%= item.name %></p>
                      <p class="card-text details"><span><i class="fas fa-info-circle"></i></span></p>
                    </div>
                </a>
                <%= render partial: 'shared/index_modal', locals: { item: item } %>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<script>
 function openCity(event) {
    // Get all elements with class="tabcontent" and hide them
    const tabcontent = document.querySelectorAll(".tabcontent");

    tabcontent.forEach((tab) => {
      tab.style.display = "none";
    })

    // Get all elements with class="tablinks" and remove the class "active"
    const tablinks = document.querySelectorAll(".tablinks");

    tablinks.forEach((tablink) => {
      tablink.classList.remove("active");
    })

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(event.currentTarget.name).style.display = "block";
    event.currentTarget.classList.add("active");
}

document.getElementById("defaultOpen").click();

</script>


<%= javascript_pack_tag 'itinerarytab' %>
