<div class="container-index">
  <div class="row">
    <div class="col-xs-4">
      <div class="my-itinerary">
          <h2>My Itinerary</h2>
      </div>
      <div class="itinerary-bar"></div>
      <div class="tab stop-card-index">
        <div class="circle-city-container">
          <div class="circle cicle-index" data-target="<%= @items_filtered.first[:id] %>"></div>
          <div class="tablinks city-card" name="<%= @items_filtered.first[:city]%>" onclick="openCity(event)" id="defaultOpen" data-target="<%= @items_filtered.first[:id] %>">
           <div>
            <div class="stop-city"><strong><%= (@items_filtered.first[:city]).capitalize%></strong></div>
            <div class="stop-dates"><%= @items_filtered.first[:start_date].strftime("%b %d, %y") %> - <%= @items_filtered.first[:end_date].strftime("%b %d, %y") %></div>
           </div>
            <%= cl_image_tag @items_filtered.first[:photo],height: 60, width: 60, crop: :scale, class: "city-adv"%>
          </div>
        </div>
      </div>

      <div class="tab stop-card-index">
      <% @items_filtered[1..-1].each do |items_info| %>
        <div class="circle-city-container">
          <div class="circle cicle-index" data-target="<%= items_info[:id] %>"></div>
          <div class="tablinks city-card" data-target="<%= items_info[:id] %>" name="<%= items_info[:city] %>"onclick="openCity(event)">
            <div>
              <div class="stop-city"><strong><%= (items_info[:city]).capitalize %></strong></div>
              <div class="stop-dates"><%= items_info[:start_date].strftime("%b %d, %y") %> - <%= items_info[:end_date].
              strftime("%b %d, %y") %></div>
            </div>
            <%= cl_image_tag items_info[:photo],height: 60, width: 60, crop: :scale, class: "city-adv"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  <div class="col-xs-8">
    <div class="item-list">
    <% @items_filtered.each do |items_info| %>
      <div id="<%= items_info[:city]%>" class="tabcontent" data-target="<%= items_info[:id]%>">
        <% if items_info[:items].length == 0 %>
          <h3>There are no items in <em><%= items_info[:city].capitalize %></em> during your trip</h3>
        <% end %>
          <% items_info[:items].each do |item| %>
            <div class="col-xs-4" style="margin-bottom: 30px;">
              <div class="card <%= items_info[:city] %>">

                <a data-toggle="modal" data-target="#modal-item-id-<%= item.id %>">
                  <div class="card-img-top" style="background-image: linear-gradient(rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.4)), url('<%= cl_image_path item.photo%>')">
                    <p class="card-text name"><%= item.name %></p>
                  </div>
                </a>

                <%= render partial: 'shared/index_modal', locals: { item: item, user_start_date: items_info[:start_date], user_end_date: items_info[:end_date] } %>
              </div>

            </div>
          <% end %>
      </div>

    <% end %>
  </div>
  </div>
</div>

<script>
 function openCity(event) {
    // Get all elements with class="tabcontent" and hide them
    const selectedId = event.currentTarget.dataset.target;

    const selectedCircle = document.querySelector(`div.circle[data-target="${selectedId}"]`);
    const selectedTab = document.querySelector(`div.tabcontent[data-target="${selectedId}"]`);


    const tabcontent = document.querySelectorAll(".tabcontent");
    const tablinks = document.querySelectorAll(".tablinks");
    const circles = document.querySelectorAll('.circle');



    tabcontent.forEach((tab) => {
      tab.style.display = "none";
    })

    // Get all elements with class="tablinks" and remove the class "active"


    tablinks.forEach((tablink) => {
      tablink.classList.remove("active");
    });

    circles.forEach(el => {
      el.classList.remove("selected-circle");
    })

    // Show the current tab, and add an "active" class to the button that opened the tab
    // document.getElementById(event.currentTarget).style.display = "block";
    event.currentTarget.classList.add("active");
    selectedCircle.classList.add("selected-circle");
    selectedTab.style.display = "block";
}

  document.getElementById("defaultOpen").click();

</script>
