<div class="background-sign-up-in" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.9), rgba(0,36,61,0.6) 50%), url('<%= image_path 'log-in.jpg'%>');" >
  <div class="container">

    <h2 class="sign-up-in">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "registration-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>