<div class="modal fade" id="modal-item-id-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h3 class="modal-title"><%= item.name.capitalize %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h3>
      </div>
      <div class="modal-body">
        <!-- cl_image_tag item.photo -->
        <h4>Description:</h4>
        <p class="modal-title"><%= item.description %></p>
        <br>
        <h4>Item owner:</h4>
        <p class="modal-title"><%= cl_image_tag item.user.photo %><%= item.user.first_name %></p>
      </div>
      <div class="modal-footer">


    <%= link_to 'I want this!', listing_requests_path(item.listings.ids), class: 'btn btn-dander btn-lg', method: :post %>

      </div>
    </div>
  </div>
</div>




