<% @listings.each do |listing| %>
  <div class="col-xs-10">
   <div class="request-card">
    <% if listing.requests != nil %>
     <% @recieved_requests = listing.requests %>
     <% @recieved_requests.each do |request| %>
          <div class="request-card-image" style="background-image: url('<%= cl_image_path listing.stop.photo %>')"><%= listing.stop.city %></div>
          <div class="request-card-content">
            <div> <%= cl_image_tag request.user.photo, class: "card-user avatar-large" %> <%= cl_image_tag request.listing.item.photo %></div>
            <div> <%= request.user.first_name %> has requested your <%= request.listing.item.name %></div>
            <div> you will both be in <%= listing.stop.city %> between </div>
          </div>
          <div class="flat-card-actions">
            <% if request.status == "pending"%>
              <%= link_to "Accept", listing_request_path(request.listing.id, request.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
              <%= link_to "Decline", listing_request_path(request.listing.id, request.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>
            <% elsif request.status == "accepted" %>
              <p><em>You have accepted this request!</em> </p>
            <% elsif request.status == "denied" %>
              <p><em>You have denied this request!</em> </p>
            <% end %>
          </div>

   <% else %>
    <%= You havent received any request yet %>
  <% end %>
  </div>
 </div>
<% end %>




       <% @listings.each do |listing| %>

              <% if listing.requests != nil %>
                <% @recieved_requests = listing.requests %>
                <% @recieved_requests.each do |request| %>
                  <% if request.status == "pending"%>
                      <div class="message">
                        <div class="message-name">
                          <p><%= request.listing.item.name %></p>
                        </div>
                         <div class="message-body">
                          <p><em>Please confirm reservation from <%= request.user.first_name %></em> </p>

                         </div>

                         <%= cl_image_tag request.user.photo, class: "card-user avatar-large" %>

                           <div class="message-status">
                              <%= link_to "Accept", listing_request_path(request.listing.id, request.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
                              <%= link_to "Decline", listing_request_path(request.listing.id, request.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>
                           </div>
                         </div>
                    <% elsif request.status == "accepted" %>
                        <div class="">
                        <div class="">
                          <p><%= request.listing.item.name %></p>
                        </div>
                         <div class="">
                          <p><em>You have accepted this request!</em> </p>
                         </div>

                         </div>
                    <% elsif request.status == "denied" %>
                        <div class="">
                        <div class="">
                          <p><%= request.listing.item.name %></p>
                        </div>
                         <div class="">
                          <p><em>You have denied this request!</em> </p>
                         </div>
                  <% end %>
                <% end %>
              <% end %>
            <%end %>





