<div class = "container">
 <div class = "row">
  <h1>My Dashboard :) </h1>
 </div>

 <div class="row">
   <div class="col-xs-3">
      <div class ="box">
        <h2>My Itinerary</h2>
          <% @stops.each do |stop| %>
          <% if !(stop.photo.file.nil?)%>
          <%= cl_image_tag stop.photo, height: 80, width: 200, crop: :fill %>
          <% end %>
          <li><%= stop.city %></li>
          <p>( <%= stop.start_date %> ~ <%= stop.end_date %> )</p>
          <% end %>
      </div>
    </div>

    <div class="col-xs-9">

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'items')">Items I shared</button>
        <button class="tablinks" onclick="openCity(event, 'receieved')">Receieved request</button>
        <button class="tablinks" onclick="openCity(event, 'sent')">Sent request</button>
      </div>

      <!-- Tab content -->
      <div id="items" class="tabcontent">
        <% @items.each do |item| %>
          <div class="col-xs-4">
            <div class="card"  style="height:20em">
              <div class="card-body"> 
              <div class="card-img-top" style="background-image: url('<%= cl_image_path item.photo%>')"></div>
              <p class="card-text name"><%= item.name %></p>
              <p class="card-text location"><strong>item.stop</strong></p>
              <p class="card-text description"><%= item.description %></p>
              <p class="card-text details"><span><i class="fas fa-info-circle"></i></span></p>
              </div>
            </div>
          </div>
        <% end %>  
      </div>

      <div id="receieved" class="tabcontent">
        <% @listings.each do |listing| %>
          <div class="col-xs-10">
           <div class="request-card">
                    <% if listing.requests != nil %>
                     <% @recieved_requests = listing.requests %>
                     <% @recieved_requests.each do |request| %>
                          <div class="request-card-image" style="background-image: url('<%= cl_image_path listing.stop.photo %>')">
                            <div class="request-card-title">
                              <%= listing.stop.city %></div>
                              <div class="request-user-item-image"> <%= cl_image_tag request.user.photo, class: "card-user user-avatar-bordered" %> <%= cl_image_tag request.listing.item.photo, class: "card-user item-avatar-bordered" %></div>
                            </div>
                          <div class="request-card-content">

                            <div><p> <%= request.user.first_name %> has requested your <%= request.listing.item.name %></p></div>
                            <div><p> you will both be in <%= listing.stop.city %> between "" ~ ""</p></div>
                          </div>
                          <div class="request-card-actions">
                            <% if request.status == "pending"%>
                              <%= link_to "Accept", listing_request_path(request.listing.id, request.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
                              <%= link_to "Decline", listing_request_path(request.listing.id, request.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>
                            <% elsif request.status == "accepted" %>
                              <p><em>You have accepted this request!</em> </p>
                            <% elsif request.status == "denied" %>
                              <p><em>You have denied this request!</em> </p>
                            <% end %>
                          </div>
                     <% end %>
                   <% else %>
                    <%= You havent received any request yet %>
                   <% end %>
          </div>
         </div>
        <% end %>

      </div>

      <div id="sent" class="tabcontent">
           <% @requests.each do |request| %>
                 <% if request.status == "pending" %>
                      <p><%= request.created_at.strftime("%c") %></p>
                      <p><em>sent a request to "<%= request.listing.item.user.first_name %>" </em> </p>
                    <% elsif request.status == "accepted" %>
                     <p> <%= request.listing.item.user.first_name %> has approved your request! </p>
                    <% else %>
                     <p> Sorry, your request was denied from "<%= request.listing.item.user.first_name %>". </p>
                    <% end %>
                <% end %>
      </div>
  </div>
 </div>
</div>


<script>
function openCity(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>

<%= link_to "Share Item", new_listing_path %>
<%= link_to "All Items", listings_path %>
