<div class = "container-index">
  <div class="row">
    <div class="col-xs-4">
      <div class="my-itinerary">
          <h2>My Itinerary</h2>
      </div>
      <div class="itinerary-bar-dash"></div>
        <% @stops.each do |stop| %>
          <div class="circle-city-container">
            <div class="circle circle-dash"></div>
            <div class="city-card dash">
              <div>
              <div class="stop-city"><strong><%= stop.city.capitalize %></strong></div>
              <div class="stop-dates"><%= stop.start_date.strftime("%b %d, %y") %> - <%= stop.end_date.strftime("%b %d, %y") %></div>
            </div>
              <% if !(stop.photo.file.nil?)%>
                <%= cl_image_tag stop.photo,height: 60, width: 60, crop: :scale, class: "city-adv" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-8">
        <div class="tab-wrapper">

        <!-- Tab links -->
        <div class="tab dashboard-tabs">
          <button class="tablinks dashboard-tab" onclick="openCity(event, 'items')"><%= pluralize( "(#{@items.count}) Shared ", 'Item' )%></button>
          <button class="tablinks dashboard-tab" onclick="openCity(event, 'receieved')"><%= pluralize( "(#{@offers.count})", 'Offer' )%></button>
          <button class="tablinks dashboard-tab" onclick="openCity(event, 'sent')"><%= pluralize( "(#{@requests.count})", 'Requests')%></button>

        </div>
      </div>
        <!-- Tab content -->
      <div class="tabcontents">
        <div id="items" class="tabcontent">
          <% @items.each do |item| %>
            <div class="col-xs-4" style="padding-left: 0" id="item-<%= item.id %>">
              <div class="card">
                <a data-toggle="modal" data-target="#modal-item-id-<%= item.id %>">
                  <div class="card-body">
                    <div class="card-img-top" style="background-image: url('<%= cl_image_path item.photo%>')"></div>
                    <p class="card-text name">
                    <% if item.name.length >= 22 %>
                        <%= item.name.first(22)%>...
                      <% else %>
                        <%= item.name %>
                      <%end%>
                    </p>
                    <% item_cities = item.listings.map {|listing| listing.stop.city.upcase} %>
                    <p class="card-text location"><strong><%= item_cities.join(" - ") %></strong></p>
                    <%= link_to 'x', delete_item_path(item.id), class: 'delete-button', method: :delete, remote: true, 
                    data: { confirm: "This will delete all listings for this item. Are you sure you like to delete this item?" } %>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        </div>

        <div id="receieved" class="tabcontent">

          <% users_received_requests = current_user.received_requests %>

          <% if users_received_requests.empty? %>
            <h3 class="none">No offers recieved</h3>
          <% else %>
          <div class="offer-card">
              <% users_received_requests.each do |request| %>
                <div class="offers-card">
                  <div class="offers-card banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%,
                    rgba(0,36,61,0.6) 50%), url('<%= cl_image_path request.listing.stop.photo %>')">
                    <div class="banner-content">
                      <h1><%= request.listing.stop.city %></h1>
                        <%= cl_image_tag request.user.photo, class: "image-match-avt user-photo-match"%>
                        <%= cl_image_tag request.listing.item.photo, class: "image-match-avt item-photo-match" %>
                    </div>
                  </div>
                  <div class="offers-card-content">
                    <div class="offers-card-content description">
                      <span class="text-var"><%= request.user.first_name %></span>
                      <span class="text">has requested your</span>
                      <span class="text-var"><u><%= request.listing.item.name %></u></span>
                    </div>
                    <div class="offers-card-content dates">
                      <% city = request.listing.stop.city %><% common_dates =  Listing.intersection_dates(request.listing.stop.start_date, request.listing.stop.end_date, request.user.stops.find_by(city:city).start_date, request.user.stops.find_by(city:city).end_date)%>
                      <span class="text">You will both be in </span>
                      <span class="text-var"><%= request.listing.stop.city %></span>
                      <span class="text">between<span>
                      <p class="text-var"><i class="far fa-calendar-alt"></i> <strong><%= common_dates[0].strftime("%b %d, %Y") %> <i class="fas fa-ellipsis-h"></i><i class="fas fa-ellipsis-h"></i><i class="fas fa-ellipsis-h"></i><i class="fas fa-ellipsis-h"></i>
                      <%= common_dates[-1].strftime("%b %d, %Y") %></strong></p>
                    </div>
                    <div class="line"></div>
                    <div class="request-card-actions offers-card-content">
                      <% if request.status == "pending"%>
                        <%= link_to "Accept", listing_request_path(request.listing.id, request.id, { value: "accepted" }), class: 'btn btn-success', method: :patch, remote: true %>
                        <%= link_to "Decline", listing_request_path(request.listing.id, request.id, { value: "denied" }), class: 'btn btn-danger', method: :patch, remote: true %>
                      <% elsif request.status == "accepted" %>
                        <p class="status"><i class="fas fa-quote-left"></i>  You have accepted this request!  <i class="fas fa-quote-right"></i></p>
                      <% elsif request.status == "denied" %>
                        <p class="status">You have denied this request!</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="sent" class="tabcontent">
          <div class="">
            <div class="row">
              <% if @requests.empty? %>
              <h3 class="none">No items requested</h3>
              <% end %>

              <% @requests.each do |request| %>
                <div class="col-xs-4">
                  <div class="card-request">
                    <div class="card-request-content header">
                        <%if request.listing.item.name.length >= 20 %>
                          <h6><%= request.listing.item.name.first(20)%>...</h6>
                        <% else %>
                          <h6><%= request.listing.item.name %></h6>
                        <%end%>
                      <%= cl_image_tag request.listing.item.user.photo, class: "user"%>
                      <span class="user-name"> OWNER <strong> <%= request.listing.item.user.first_name %> <%= request.listing.item.user.last_name %></strong></span>
                    </div>

                    <div class="request-card-content-img" style="background-image: url('<%= cl_image_path request.listing.item.photo %>')"></div>

                    <div class="request-card-content status">
                      <p class="text">REQUEST STATUS:</p>
                      <div class="request-card-actions">
                        <% if request.status == "pending" %>
                          <h5>Pending</h5>
                          <p class="date-create"><%= request.created_at.strftime("%c") %></p>
                        <% elsif request.status == "accepted" %>
                          <h5 class="accepted">Accepted!</h5>
                          <div class="empty-space"></div>
                        <% else %>
                          <h5>Sorry, denied.</h5>
                          <div class="empty-space"></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
function openCity(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>

<%= javascript_pack_tag 'dashboard_select_tab' %>