<h1>My Dashboard :) </h1>
  <div class ="box">
    <h2>My Itinerary<h2>
      <% @stops.each do |stop| %>
      <% if !(stop.photo.file.nil?)%>
      <%= cl_image_tag stop.photo, height: 300, width: 400, crop: :fill %>
      <% end %>
      <li><%= stop.city %>  ( <%= stop.start_date %> ~ <%= stop.end_date %> ) </li>
      <% end %>
  </div>

  <div class ="box">
    <h2>Items I share</h2>
      <% @items.each do |item| %>
      <li><%= item.name %> </li>
      <% end %>
  </div>
  <div class ="box">
    <h2>Received request</h2>
      <% @listings.each do |listing| %>

        <% if listing.requests != nil %>
          <% @recieved_requests = listing.requests %>
          <% @recieved_requests.each do |request| %>
           <p> got a request from <%= request.user.first_name %> </p>
          <% end %>
        <% end %>
      <%end %>

  </div>

  <div class ="box">
    <h2>sent request</h2>
          <% @requests.each do |request| %>
           <p><strong> <%= request.listing.item.name %></strong> in <%= request.listing.stop.city %></p>
           <p> sent a request to <%= request.listing.item.user.first_name %> </p>
          <% end %>
  </div>
