<div class = "container-not-boostrap" style="height: 128vh; margin: 2% 10% 0 10%;">
 <div class = "row">
  <h1 class="dash-title">My Dashboard</h1>
 </div>

 <div class="row">
   <div class="col-xs-4">
      <div class ="col-sx-12">
        <div class="my-itinerary">
          <div class="circle"></div>
          <h2>My Itinerary</h2>
        </div>
          <% @stops.each do |stop| %>
          <div class="stop-cards-dash">
            <div class="circle"></div>
              <div class="stop-card-dashbord">
                <% if !(stop.photo.file.nil?)%>
                <div class="city-adv" style="background: url('<%= cl_image_path stop.photo, height: 60, width: 60, crop: :scale %>')"></div>
                <% end %>
                <p class="stop-city"><strong><%= stop.city %></strong></p>
                <p class="stop-dates">( <%= stop.start_date.strftime("%b %d, %Y") %> ~ <%= stop.end_date.strftime("%b %d, %Y") %> )</p>
              </div>
            </div>
          <% end %>
          <div id="last-circle"></div>
      </div>
    </div>

    <div class="col-xs-8">

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'items')"><%= pluralize( "(#{@items.count}) Shared ", 'Item' )%></button>
        <button class="tablinks" onclick="openCity(event, 'receieved')"><%= pluralize( "(#{@offers.count})", 'Offer' )%></button>
        <button class="tablinks" onclick="openCity(event, 'sent')"><%= pluralize( "(#{@requests.count})", 'Resquest')%></button>
      </div>
      <!-- Tab content -->
      <div id="items" class="tabcontent">
        <% @items.each do |item| %>
          <div class="col-xs-4">
            <div class="card"  style="height:24em">
              <div class="card-body">
              <div class="card-img-top" style="background-image: url('<%= cl_image_path item.photo%>')"></div>
              <h4 class="card-text name"><%= item.name %></h4>
              <% item_cities = item.listings.map {|listing| listing.stop.city.upcase} %>
              <p class="card-text location"><strong><%= item_cities.join(" - ") %></strong></p>
              <p class="card-text description"><%= item.description %></p>
              <p class="card-text details"><span><i class="fas fa-info-circle"></i></span></p>
              <div id="delete-item">
                <%= link_to 'Remove', delete_item_path(item.id), class: 'btn btn-dander btn-lg', method: :delete, remote: true %>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="receieved" class="tabcontent">

        <% users_received_requests = current_user.received_requests %>

        <% if users_received_requests.empty? %>
          <h3 style="color:red">There are no received requests</h3>
        <% else %>

          <% users_received_requests.each do |request| %>

            <div class="request-card-image" style="background-image: url('<%= cl_image_path request.listing.stop.photo %>')">
              <div class="request-card-title"><%= request.listing.stop.city %>
              </div>
              <div class="request-user-item-image"> <%= cl_image_tag request.user.photo, class: "card-user user-avatar-bordered" %> <%= cl_image_tag request.listing.item.photo, class: "card-user item-avatar-bordered" %>
              </div>
            </div>

            <div class="request-card-content">
              <div><p> <%= request.user.first_name %> has requested your <%= request.listing.item.name %></p>
              </div>
               <% city = request.listing.stop.city %><% common_dates =  Listing.intersection_dates(request.listing.stop.start_date, request.listing.stop.end_date, request.user.stops.find_by(city:city).start_date, request.user.stops.find_by(city:city).end_date)%>
              <div><p> you will both be in <%= request.listing.stop.city %> between "<%= common_dates[0] %>" ~ "<%= common_dates[-1] %>"</p>
              </div>
            </div>

            <div class="request-card-actions">
              <% if request.status == "pending"%>
                <%= link_to "Accept", listing_request_path(request.listing.id, request.id, { value: "accepted" }), class: 'btn btn-success', method: :patch, remote: true %>
                <%= link_to "Decline", listing_request_path(request.listing.id, request.id, { value: "denied" }), class: 'btn btn-danger', method: :patch, remote: true %>
              <% elsif request.status == "accepted" %>
                <p><em>You have accepted this request!</em> </p>
              <% elsif request.status == "denied" %>
                <p><em>You have denied this request!</em> </p>
              <% end %>
            </div>

          <% end %>

        <% end %>
      </div>

      <div id="sent" class="tabcontent">
        <% if @requests.empty? %>
          <h3 style="color:red">There are no sent requests</h3>
        <% end %>
        <% @requests.each do |request| %>
           <div class="col-xs-10">
            <div class="request-card">
              <div class="request-card-image" style="background-image: url('<%= cl_image_path request.listing.stop.photo %>')">
              <div class="request-card-title">
                <%= request.listing.stop.city %></div>
                <div class="request-user-item-image">  <%= cl_image_tag request.listing.item.photo, class: "card-user item-avatar-bordered" %><%= cl_image_tag request.listing.item.user.photo, class: "card-user user-avatar-bordered" %></div>
              </div>
              <div class="request-card-content">
                <div><p> you have requested <%= request.listing.item.name %> to <%= request.listing.item.user.first_name %> </p></div>
              </div>
               <div class="request-card-actions">
                 <% if request.status == "pending" %>
                      <p><%= request.created_at.strftime("%c") %></p>
                      <p><em>sent a request to "<%= request.listing.item.user.first_name %>" </em> </p>
                 <% elsif request.status == "accepted" %>
                     <p> <%= request.listing.item.user.first_name %> has approved your request! </p>
                 <% else %>
                     <p> Sorry, your request was denied from "<%= request.listing.item.user.first_name %>". </p>
                 <% end %>
               </div>
            </div>
           </div>
        <% end %>
      </div>
  </div>
 </div>
</div>


<script>
function openCity(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>

<%= link_to "Share Item", new_listing_path %>
<%= link_to "All Items", listings_path %>
