<h1 class="align-center">Enter your itinerary</h1>
<div id="form" class="align-center">
    <%= form_tag(listings_path, method: "get") do %>
    <div id="trip-field-1" class="trip-field">
      <%= label_tag( "Please insert city:") %>
      <%= text_field_tag(:city, nil, :placeholder => 'New York, Montreal..', :required => true) %>
      <%= label_tag( "Start date:") %>
      <%= date_field_tag(:start_date, Date.today, :required => true ) %>
      <%= label_tag( "End date:") %>
      <%= date_field_tag(:end_date, Date.today + 7, :required => true) %>
    </div>
    <button id="add-city">add city</button>
    <div id="submit-button">
      <%= submit_tag("Search", class: "btn btn-danger") %>
    </div>
<% end %>
</div>

