<h1 class="align-center">Enter your itinerary</h1>
<div id="form" class="align-center">
    <%= form_tag(stops_path) do %>
      <div class="trip-fields">
        <div id="trip-field-1" class="trip-field">
          <%= label_tag( "Please insert city:") %>
          <%= text_field_tag('stops[1][city]', nil, :placeholder => 'New York, Montreal..', :required => true) %>
          <%= label_tag( "Start date:") %>
          <%= date_field_tag('stops[1][start_date]', Date.today, :required => true ) %>
          <%= label_tag( "End date:") %>
          <%= date_field_tag('stops[1][end_date]', Date.today + 7, :required => true) %>
        </div>
      </div>
    <button id="add-city">add city</button>
    <div id="submit-button">
      <%= submit_tag("Search", class: "btn btn-danger") %>
      <%= submit_tag("Share item", class: "btn btn-danger") %>
    </div>
  <% end %>
</div>



<!-- <form action=“/listings” accept-charset=“UTF-8" method=“post”><input name=“utf8" type=“hidden” value=“✓”><input type=“hidden” name=“authenticity_token” value=“OC5nbDjrCHBlRgEJjVljmSKfVv2hYekkoZZ+k8uBE+wC3sXyBUCBjNNCFkpJOsU/2VjGtvdWMKBDaIAuuD/inA==“>
   <div id=“trip-field-1” class=“trip-field”>
     <label for=“Please_insert_city:“>Please insert city:</label>
     <input type=“text” name=“city[1][name]” id=“city1” placeholder=“New York, Montreal..” required=“required”>
     <label for=“Start_date:“>Start date:</label>
     <input type=“date” name=“city[1][start]” id=“start_date1” value=“2018-11-21" required=“required”>
     <label for=“End_date:“>End date:</label>
     <input type=“date” name=“city[1][end]” id=“end_date1” value=“2018-11-28" required=“required”>
   </div>
   <div id=“trip-field-2" class=“trip-field”>
   <label for=“Please_insert_new_city:“>Please insert city:</label>
     <input type=“text” name=“city[2][name]” id=“city2” placeholder=“New York, Montreal..” required=“required”>
     <label for=“Start_date:“>Start date:</label>
     <input type=“date” name=“city[2][start]” id=“start_date2” value=“2018-11-21" required=“required”>
     <label for=“End_date:“>End date:</label>
     <input type=“date” name=“city[2][end]” id=“end_date2” value=“2018-11-28" required=“required”>
     </div><button id=“add-city”>add city</button>
   <div id=“submit-button”>
     <input type=“submit” name=“commit” value=“Search” class=“btn btn-danger” data-disable-with=“Search”>
     <input type=“submit” name=“commit” value=“Share” class=“btn btn-danger” data-disable-with=“Share”>
   </div>
</form> -->
