<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.9), rgba(0,36,61,0.6) 50%), url('<%= image_path 'banner.jpg'%>');">
  <div id="logo-home" style="background-image: url('<%= image_path 'luggage.png' %>');"></div>
  <div class="banner-content-home">
    <h1>Travely</h1>
    <h2>Light & Easy Travel</h2>
    <h3>By Sharing your Items with Others</h3>
  </div>
  <% if !user_signed_in? %>
    <section id="section03" class="demo">
      <a href="#form"><span></span>Start</a>
    </section>
  <% end %>
</div>

<% if !user_signed_in? %>
  <div class="container">
    <%= render  "form_stop" %>

  <div class="line-home"></div>  
  <%= render  "information" %>
<% end %>

<% if user_signed_in? %>

  <div class="container signed-in-container">
      <%= render  "form_stop" %>
  </div>
  <div class="container">
  <%= render  "information" %>
  </div>
  
<% end %>

<%= javascript_pack_tag 'add_city' %>
<%= javascript_pack_tag 'nested_input_home' %>
<%= javascript_pack_tag 'algolia_search' %>