<div class="home-title"><%= image_tag "Final-logo.png", style: 'height:100px' %>
  <h1> Travel light and easy with</h1>
  travely
</div>
<div class="container">
    <div id="form">
      <!-- <div class="home-form-title">Enter your itinerary</div> -->
      <div class="home-form-title"></div>
        <div class="sim-form" >
            <%= form_tag(stops_path, class: "go-right") do %>
            <div class="trip-fields">

              <div class="trip-field">
                <div class="focus-label">
                  <div class="nested-label">City</div>
                </div>
                <div class="focus-label">
                  <div class="nested-label">Start date</div>
                </div>
                <div class="focus-label">
                  <div class="nested-label">End date</div>
                </div>
                <button class="hidden-x" disabled><i class="fas fa-times-circle"></i></button>
              </div>

              <div id="trip-field-1" class="trip-field">
                  <%= text_field_tag('stops[1][city]', nil, :required => true, class: "nested-input city-size", id: "city-input", placeholder: "Enter Destination" ) %>
                  <%= date_field_tag('stops[1][start_date]', Date.today, :required => true, class: "nested-input date-size" ) %>
                  <%= date_field_tag('stops[1][end_date]', Date.today + 7, :required => true, class: "nested-input date-size" ) %>
                  <button class="hidden-x" disabled><i class="fas fa-times-circle"></i></button>
              </div>
            </div>
          </div>
        <p id="add-city">+add city</p>
        <div class="home-button" id="submit-button">
          <%= submit_tag("Search", class: "button button-purple") %>
          <%= submit_tag("Share item", class: "button button-blue") %>
        </div>
        <% end %>

</div>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.14.0"></script>



<%= javascript_pack_tag 'add_city' %>
<%= javascript_pack_tag 'nested_input_home' %>
<%= javascript_pack_tag 'algolia_search' %>
