<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: false  %>
  <%= f.input :description, required: false  %>
  <%= f.input :photo, required: false %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.label :Cities, required: false %>
  <br>
  <% @stops.each do |stop| %>
    <%= check_box_tag "city[#{stop.id}", 1 %>
    <% city_with_dates = "#{stop.city.capitalize} (#{stop.start_date.strftime("%b %d")}~#{stop.end_date.
              strftime("%b %d")})"  %>
    <%= label_tag stop.city,  city_with_dates %>
    <br>
  <% end %>

  <div class="form-actions ">
    <%= f.button :submit, 'Share Item', class: "button button-blue", id: "submit-item" %>
  </div>
<% end %>
