<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: false  %>
  <%= f.input :description, required: false  %>
  <%= f.input :photo, required: false %>
  <%= f.input :photo_cache, as: :hidden %>
  <% @stops.each do |stop| %>
    <%= label_tag stop.city %>
    <%= check_box_tag "city[#{stop.id}", 1 %>
  <% end %>

  <div class="form-actions ">
    <%= f.button :submit, 'Share Item', class: "button button-blue", id: "submit-item" %>
  </div>
<% end %>
