<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: true  %>
  <%= f.input :description, required: true  %>
  <%= f.input :photo, required: true %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.label :Cities, required: true %>
  <br>
  <% @stops.each do |stop| %>
    <%= check_box_tag "city[#{stop.id}", 1 %>
    <%= label_tag stop.city %>
    <%= cl_image_tag stop.photo, class: "avatar-large" %>
    <br>
  <% end %>

  <div class="form-actions ">
    <%= f.button :submit, 'Share Item', class: "btn btn-danger", id: "submit-item" %>
  </div>
<% end %>
